.swiper {
  height: 100vh;
}

.swiper-slide img {
  height: 40vh;
  width: 35vh;
  margin-bottom: 40px;
  border-radius: 25px;
  box-shadow: 0 0 10px #b1b1b1;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}